*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100vw;
    height: 46px;
    background-color: #222;
    
    padding: 10px;
    display: flex;
}
body{
    background-color: #222;
}
#menu-toggle{
    display: none;
}
.menu{
    position: fixed;
    width: 250px;
    left: -300px;
    top: 0px;
    height: 100vh;
    background: #222;
    color: white;
    padding: 40px 20px;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1000;
    justify-content: center;
}
#menu-toggle:checked + .menu-btn + .menu {
      left: 0;
    }
.menu-btn{
      position: fixed;
      top: 19px;
      left: 10px;
      background: #000000;
      color: white;
      padding: 10px 15px;
      cursor: pointer;
      display: inline-block;
      z-index: 1001;
}
.menu a {
      display: block;
      color: white;
      text-decoration: none;
      margin: 30px 0;
      font-size: 18px;
      transition: color 0.3s;
    }
.menu a:hover {
      color: #ff6600;
    }
.user{
    position: inherit;
    padding: 10px;
     color: white;
     bottom: 0px;
     width: 250px;
     height: 28px;
     background-color: rgb(8, 19, 19);
}
.title{
    margin-left: 125px;
    margin-bottom: 10px;
    width: 400px;
    height: 40px;
    background-color: #222;
}
.title:hover{
  cursor: pointer;
}
.boxes{
   position: absolute;
   margin-top: 12px;
   right: 20px;
   width: 150px;
   height: 30px;
   background-color: #222;
   display: flex;
   gap: 30px;
}
.box{
    width: auto;
    height: auto;
   
    padding: 2px;
    background-color: black;
}
.box:hover{
     cursor: pointer;
}
.about{
    margin: 12px auto;
    width: 88vw;
    height: auto;
    background-color: #222;
}
.searchbar input{ 
    margin-top: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    border: 2px solid black;
    width: 80vw;
    height: 40px;
    border-radius: 20px;
}
.searchbar input::placeholder{
    font-size: 30px;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
}
.StoryGames{
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15px;
    width: 71vw;
    height: 425px;
  
    padding: 10px;
}
.games{
    margin-top: 10px;
    width:69vw ;
    height:355px ;
    
    display: flex;
    gap: 10px;
    padding: 10px;
}
.game{
    position: relative;
    width: 16.4vw;
    height: 340px;
    padding: 8px;
    }
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 16.4vw;
    height:260px;
    object-fit: fill;
}
.battleroyal{
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15px;
    width: 71vw;
    height: 425px;
    
    padding: 10px;
}
.horrergame{
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15px;
    width: 71vw;
    height: 425px;
    padding: 10px;
}
.racinggame{
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15px;
    width: 71vw;
    height: 425px;
    padding: 10px;
}
.foot{
    width: 106vw;
    height: 48px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
}
.footbox1{
    width: 140px;
    height: 40px;
    text-align: center;
}
.footbox2{
    width: 230px;
    height: 40px;
    text-align: center;
}
img:hover {
  filter: brightness(1.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.game:hover{
    transform: scale(1.07);
    box-shadow: 0 10px 20px rgba(0, 0, 0,0.002);
    z-index: 10;
    

}